extends layout/main.jade
block body
    body
        include _includes/svg.jade
        include _includes/blocks/admin_sidebar.jade
        include _includes/blocks/dropside.jade
        include _includes/blocks/nav.jade
        include _includes/blocks/footer.jade
        include _includes/blocks/modals.jade
        include _includes/blocks/admin_gransmap.jade

        .page-wrapp
            +admin_sidebar()
            +dropside()
            .page-content
                .content-without-footer
                    .container
                        +nav(2)
                        +admin_gransmap()

                .footer-wrap
                    .container
                        +footer()

        +modals()

        // scripts
        script(src="js/lib/kendo/js/jquery.min.js")
        script(data-main="js/main" src='js/require.js')