mixin admin_profile(data)
    .profile.admin-profile
        form.profile__search
            div.profile__search__input-block
                input(type="text", name="search", placeholder="Поиск по имени или ID")
                i.zmdi.zmdi-search
            button.btn.btn-lblue.b-btn(type="submit")
                | поиск
                span.btn-gray__topleft
                span.btn-gray__bottomright

        .profile__id: a(href="#") Buzzmaster_77 (ID:7684567)
        .profile__top
            .profile__top__photo-lvl.ofit-block
                .profile__top__avatar
                    img(src="img/content/prof-user.jpg", alt="")
                .pcase__top__lvl
                    .sidebar__user__lvl(data-level="5" data-from="0.000" data-to="9.000" data-current="4.050")
                        .sidebar__lvl__num 5
                        .sidebar__lvl__progress
                            .sidebar__lvl__progress__inn(style="width: 45%;")
                        .sidebar__user__lvl__txt.clearfix
                            .sidebar__lvl__txt__left: span Next lvl
                            .sidebar__lvl__txt__right: span 4.050/9.000
            .profile__top__name
                span Игорь Николаев
            .profile__top__lvlline.clearfix
                .pcase__top__balance
                    div
                        .pcase__top__balance__num
                            span 14 000
                                i ₽
                        .pcase__top__balance__text
                            span Баланс
                        a.sidebar__user__balance__plus(href='#balanceModal' data-toggle='modal')
                .pcase__top__lvl__cash
                    .pcase__top__lvl__cash__perc
                        span 5%
                    .pcase__top__lvl__cash__text
                        span Текущий кэшбек
                .profile__refcode
                    .profile__refcode__cnt
                        .profile__refcode__code
                            span A2DASK3201
                        .profile__refcode__txt
                            span Реферальный код
                        .profile__popover
                            .profile__popover__cnt
                                p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.

        .profile__stats
            .row
                .col-xs-6
                    .profile__statsbl
                        .profile__statsbl__title
                            span История активности
                        .profile__statsbl__cnt
                            .profile__history.js-scroll.blue-scroll.scroll-w7
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
                                .profile__history__it
                                    .profile__history__it__date
                                        span 3/02/2017 21:53
                                    .profile__history__it__desc
                                        span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)

                .col-xs-6
                    .profile__statsbl
                        .profile__statsbl__title
                            span Статистика
                        .profile__statsbl__cnt
                            .profile__statistic
                                .profile__statistic__it
                                    .profile__statistic__it__left
                                        span Открыто ящиков
                                    .profile__statistic__it__right
                                        span 349
                                .profile__statistic__it
                                    .profile__statistic__it__left
                                        span Открыто ящиков
                                    .profile__statistic__it__right
                                        span 349<i>₽</i>
                                .profile__statistic__it
                                    .profile__statistic__it__left
                                        span Открыто ящиков
                                    .profile__statistic__it__right
                                        span 349
                                .profile__statistic__it
                                    .profile__statistic__it__left
                                        span Открыто ящиков
                                    .profile__statistic__it__right
                                        span 349
                                .profile__statistic__it
                                    .profile__statistic__it__left
                                        span Открыто ящиков
                                    .profile__statistic__it__right
                                        span 349
                        .profile__statsbl_btn
                            button.btn.btn-lblue.b-btn(type="button")
                                | Добавить бонусные рубли
                                span.btn-gray__topleft
                                span.btn-gray__bottomright


        - var inventar = [{'input_value': '1', 'output': true },  {'input_value': '2', 'output': true }, {'input_value': '3', 'output': false }, {'input_value': '4', 'output': false }, {'input_value': '5', 'output': false }, {'input_value': '6', 'output': false }, {'input_value': '7', 'output': false }, {'input_value': '8', 'output': false }, {'input_value': '9', 'output': false }, {'input_value': '10', 'output': false }, {'input_value': '11', 'output': false }, {'input_value': '12', 'output': false }, {'input_value': '13', 'output': false }, {'input_value': '14', 'output': false }, {'input_value': '15', 'output': false }, {'input_value': '16', 'output': false }, {'input_value': '17', 'output': false }, {'input_value': '18', 'output': false }, {'input_value': '19', 'output': false }, {'input_value': '20', 'output': false }]

        form#inventar.inventar
            .ccolapse.is-collapse
                .ccolapse__head
                    .ccolapse__head__left
                        .ccolapse__head__txt
                            span Инвентарь
                        .ccolapse__head__left__over
                    .ccolapse__head__selected
                        input(type="checkbox", name="show-selected", id="selected", class="hidden")
                        label.ccolapse__head__selected__text.style-checkbox(for="selected") Показывать выведенные предметы

                .ccolapse__cnt.inventar__cnt
                    .promo__cases.inventar__cases.flex-cases
                        each item in inventar
                            label.promo__cases__col.__simple.flex-case-col
                                if(item.output)
                                    input(type="checkbox", name="inventar", value=item.input_value, class="hidden", data-output='output')
                                else
                                    input(type="checkbox", name="inventar", value=item.input_value, class="hidden")
                                .pcase__itsincase__item.inventar__item.__pink(data-id='4')
                                    .inventar__item-top-text
                                        | StatTrack
                                        span ТМ
                                    .pcase__itsincase__item__img.inventar__item-img
                                        img(src='img/content/case-rotator-img.png', alt='')
                                    .pcase__itsincase__item__name.inventar__item-name
                                        span M4A4
                                    .pcase__itsincase__item__subname.inventar__item-subname
                                        span Buzzkill
                                    .pcase__itsincase__item__price.inventar__item-price
                                        span 5,5$
                                    span.btn-gray__topleft
                                    span.btn-gray__bottomright


                    .promo__more.text-center
                        button.js-show-more.btn(type="button")
                            span Показать больше инвентаря
                            i
