mixin contract(data)
    .pcase.contract
        .pcase__back
            a(href="main.html")
                i.zmdi.zmdi-chevron-left
                |Назад
        .pcase__top.contract__top.clearfix
            .pcase__top__cases.contract__top__cases
                .ccolapse.is-collapse
                    .ccolapse__head
                        .ccolapse__head__left
                            .ccolapse__head__txt
                                span Контракт
                            .ccolapse__head__left__over
                    .ccolapse__cnt
                        .pcase__top__case-block.contract__case-block.clearfix
                            - for(var i = 0; i < 6; i++)
                                .promo__cases__col.contract__col
                                    .promo-case.contract__case
                                        .promo-case__img
                                            .promo-case__img__case
                                                img(src="img/content/simple-case.png", alt="")
                                        .promo-case__name.contract__case-name
                                            span AK-47 Redline
                                        .promo-case__price.contract__case-price
                                            span $ 5,5
                                        span.btn-gray__topleft
                                        span.btn-gray__bottomright
                                    .contract__case-btn
                                        button.promo-case-btn__del.js-contract-del.btn.btn-action.btn-destr(type="button"): i.zmdi.zmdi-delete
                            .promo__cases__col.contract__col
                                .promo-case.btn-add.contract__btn-add
                                    .promo-case__btn-add-el-wrap
                                        a.promo-case__btn-add-el.contract__btn-add-el.btn(href='#')
                                    .contract__btn-add-el__text
                                        span Добавить новый предмет в кейс

            .pcase__top__desc.contract__desc
                .pcase__top__desc__title
                    span За открытие этого кейса мы вернем Вам на счет 5 000 рублей!
                .pcase__top__desc__txt
                    p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.

        .pcase__rotor.contract__rotor
            .pcase__rotor__pointer
            .pcase__rotor__preitems.clearfix
            .pcase__rotor__items
                .pcase__rotor__items__inn.clearfix
            .pcase__rotor__winitem-wrap
                .pcase__rotor__winitem.__blue
                    .pcase__preitem__img
                        img(src='img/content/case-rotator-img.png' alt='')
                    .pcase__preitem__name
                        span M4A4
                    .pcase__preitem__subname
                        span Buzzkill
        .pcase__open-btn
            .pcase__open-btn__wrap.active
                button.btn.btn-blue#openCase(data-price="5000")
                    span.btn-gray__topleft
                    span.btn-gray__bottomright
                    | открыть кейс за 5 000 рублей
            .pcase__open-btn__wrap
                button.btn.btn-blue#fastedCase
                    span.btn-gray__topleft
                    span.btn-gray__bottomright
                    | ускорить
        .pcase__itsincase
            .pcase__itsincase__title
                span Cписок предметов которые есть в данном кейсе
            .pcase__itsincase__items.clearfix

