mixin footer(data)
	footer.footer.clearfix
		.footer__left
			a(href="#")
				img(src="img/template/logo.png", alt="CS:GO")
		.footer__right
			a(href="#") 
				i.zmdi.zmdi-email
				| info@csgo.com
		.footer__copy
			span COPYRIGHT (C) 2017 CS:GO

