mixin mainAdvs(data)
	.mainAdvs
		.mainAdvs__title
			span Почему мы?
		.mainAdvs__cnt.clearfix
			.mainAdvs__col
				.mainAdvs__it
					.mainAdvs__it__icon
						i.ico.madvi1-icon
					.mainAdvs__it__title
						span Кэшбек
					.mainAdvs__it__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты
			.mainAdvs__col
				.mainAdvs__it
					.mainAdvs__it__icon
						i.ico.madvi2-icon
					.mainAdvs__it__title
						span Акции
					.mainAdvs__it__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты
			.mainAdvs__col
				.mainAdvs__it
					.mainAdvs__it__icon
						i.ico.madvi3-icon
					.mainAdvs__it__title
						span Доверие
					.mainAdvs__it__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты
