mixin modals(data)
	#balanceModal.modal.fade.modal-scale.balance-modal
		.modal-dialog
			.modal-content
				a(href="#" data-dismiss="modal").modal__close
				.balance-modal__logo
					span CS:GO
				.balance-modal__title
					span Пополнение баланса
				.balance-modal__form
					input(type="text" placeholder="Введите сумму")
					button.btn.btn-lblue.fw-btn
						span.btn-gray__topleft
						span.btn-gray__bottomright
						| Пополнить

    
