mixin nav(data)
	nav.nav
		.nav__list
			.nav__list-trigger.visible-xs
				button.btn.btn-gray
					span.btn-gray__topleft
					span.btn-gray__bottomright
					| МЕНЮ
					i.zmdi.zmdi-menu
			ul.reset-list
				if (data == 1)
					li.active: a(href="#"): span Кейсы
				else
					li: a(href="#"): span Кейсы
				if (data == 2)
					li.active: a(href="#"): span Гранаты
				else
					li: a(href="#"): span Гранаты
				if (data == 3)
					li.active: a(href="#"): span FAQ
				else
					li: a(href="#"): span FAQ
				if (data == 4)
					li.active: a(href="#"): span Поддержка
				else
					li: a(href="#"): span Поддержка
		.nav__lang
			a(href="#").active RU
			| /
			a(href="#") EN
