mixin profile(data)
	.profile
		.profile__top
			.profile__top__avatar.ofit-block
				img(src="img/content/prof-user.jpg", alt="")
			.profile__top__name
				span Игорь Николаев
			.profile__top__lvlline.clearfix
				.pcase__top__lvl
					.sidebar__user__lvl(data-level="5" data-from="0.000" data-to="9.000" data-current="4.050")
						.sidebar__lvl__num 5
						.sidebar__lvl__progress
							.sidebar__lvl__progress__inn(style="width: 45%;")
						.sidebar__user__lvl__txt.clearfix
							.sidebar__lvl__txt__left: span Next lvl
							.sidebar__lvl__txt__right: span 4.050/9.000
				.pcase__top__lvl__cash
					.pcase__top__lvl__cash__perc
						span 5%
					.pcase__top__lvl__cash__text
						span Текущий кэшбек
				.pcase__top__balance
					.pcase__top__balance__num
						span 14 000
							i ₽
					.pcase__top__balance__text
						span Баланс
					a.sidebar__user__balance__plus(href='#balanceModal' data-toggle='modal')
			.profile__refcode
				.profile__refcode__code
					span A2DASK3201
				.profile__refcode__txt
					span Реферальный код
				.profile__popover
					.profile__popover__cnt
						p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. 
			.profile__trade.clearfix
				.profile__trade__input
					input(type="text" placeholder="Trade Link")
					.profile__popover
						.profile__popover__cnt
							p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. 
				.profile__trade__btn
					button.btn.btn-lblue.fw-btn
						span.btn-gray__topleft
						span.btn-gray__bottomright
						| ПОДТВЕРДИТЬ
		.profile__stats
			.row
				.col-xs-6
					.profile__statsbl
						.profile__statsbl__title
							span История активности
						.profile__statsbl__cnt
							.profile__history.js-scroll
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
								.profile__history__it
									.profile__history__it__date
										span 3/02/2017 21:53
									.profile__history__it__desc
										span Открыт UPS-S | Orion (Factory New)  из кейса Operation Phoenix (13 765 рублей)
				.col-xs-6
					.profile__statsbl
						.profile__statsbl__title
							span Статистика
						.profile__statsbl__cnt
							.profile__statistic
								.profile__statistic__it
									.profile__statistic__it__left
										span Открыто ящиков
									.profile__statistic__it__right
										span 349
								.profile__statistic__it
									.profile__statistic__it__left
										span Открыто ящиков
									.profile__statistic__it__right
										span 349<i>₽</i>
								.profile__statistic__it
									.profile__statistic__it__left
										span Открыто ящиков
									.profile__statistic__it__right
										span 349
								.profile__statistic__it
									.profile__statistic__it__left
										span Открыто ящиков
									.profile__statistic__it__right
										span 349
								.profile__statistic__it
									.profile__statistic__it__left
										span Открыто ящиков
									.profile__statistic__it__right
										span 349
